/*导航*/
/*侧栏导航*/

.side-bar__tab--current{
	color:#009688;
	-webkit-box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.2);
    box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.2);
    background: #000;
}
.layui-layout-admin .layui-logo{
	font-size: 28px;
	color: #fff;
	font-weight: bold;
}
